@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@300..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}
.navbar {
  display: flex;
  height: 80px;
  align-items: center;
  justify-content: space-around;
  background-color: #ffffff;
  width: 100%;
}

.logo {
  padding: 2px;
  cursor: pointer;

  width: 150px;
}

.logo-text {
  color: #000000;
  font-size: 30px;
  font-weight: 600;
}

.logo-text-secondary {
  font-size: 30px;
  font-weight: 20;
}

.navbar-content {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  padding: 10px;
}

.navbar-links {
  cursor: pointer;
}

.navbar-text {
  color: #000000;
  font-size: 15px;
  font-weight: 300;
}

.navbar-text:hover {
  text-decoration: underline;
}

.userbar {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0px;
}

.search-bar {
  display: flex;
  border: 1px solid #000000;
  padding: 10px;
  border-radius: 12px;
  width: 150px;
  gap: 8px;
}

.search-input {
  border: none;
  color: #000000;
  width: 100px;
  outline: none;
}

.user-icon {
  display: flex;
  gap: 10px;
}

.user-icon p {
  font-size: 15px;
  font-weight: 300;
}

#icon-user {
  font-size: 25px;
}

#icon {
  font-size: 20px;
  font-weight: 10;
}

.container {
  width: 100%;
}

.main {
  background-image: url("./images/Hero.jpg");
  height: 650px;
  width: 91%;
  margin: auto;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  display: flex;
}

.main-heading {
  font-size: 76px;
  font-weight: 700;
  padding: 20px;
}

.main-subheading {
  font-size: 22px;
  padding: 20px;
}

.section-heading {
  width: 50%;
}

.main-card {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-card-content {
  background-color: #ffffff;
  padding: 23px;
  width: 70%;
  border-radius: 12px;
  height: 450px;
}

.main-card-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.main-card-image {
  background-image: url("./images/card.jpg");
  height: 300px;
  width: 95%;
  background-size: cover;
  padding: 20px;
  border-radius: 12px;
  margin: auto;
}

.main-card-heading {
  font-size: 15px;
  font-weight: 600;
  color: #000000;
  margin: 5px 0;
}

.main-card-subheading {
  display: flex;
  gap: 1px;
}
.main-card-subheading span {
  text-decoration: line-through;
  color: #000000;
}

.main-card-subheading p {
  font-size: 17px;
  font-weight: 600;
  color: #1570c3;
  margin-bottom: 10px;
}

.main-card-button {
  background-color: #1570c3;
  color: #ffffff;
  padding: 10px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  width: 30%;
}
.main-card-button:hover {
  background-color: #0f5a8c;
  text-decoration: underline;
}

.main-card-tag {
  background-color: #1570c3;
  color: #ffffff;
  padding: 5px;
  border-radius: 30px;
  font-weight: 300;
  width: 50px;
}

.main-card-tag p {
  font-size: 14px;
  font-weight: 500;
  text-align: center;
}

.search-icon {
  display: none;
}

.hamburger-icon {
  display: none;
}

.main-card-bottom {
  display: none;
  margin: 0 auto;
  width: 90%;
  background-color: #f0f0f0;
  margin-top: 30px;
  padding: 30px;
  border-radius: 20px;
}

.main-card-bottom-content {
  margin-top: 20px;
  width: 90%;
  border-radius: 12px;
  margin: 0 auto;
}

.main-card-bottom-image {
  background-image: url("./images/card.jpg");
  height: 300px;
  width: 95%;
  background-size: cover;
  background-position: center;
  padding: 20px;
  border-radius: 12px;
  margin: auto;
}

.main-card-bottom-button {
  background-color: #1570c3;
  color: #ffffff;
  padding: 10px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  width: 100%;
}
.main-card-bottom-button:hover {
  background-color: #0f5a8c;
  text-decoration: underline;
}

.products {
  width: 100%;
  padding: 60px;
  margin-top: 20px;
}

.products-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 75px;
  margin: 0 auto;
}

.products-title {
  font-size: 29px;
  font-weight: 350;
}
.products-subtitle {
  font-size: 15px;
  font-weight: 500;
}

.products-cards {
  justify-content: space-between;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.product-card-tag {
  background-color: #ffffff;
  color: #1570c3;
  padding: 5px;
  border-radius: 30px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-card-tag-text {
  font-size: 12.5px;
  font-weight: 400;
}

.product-card {
  width: 24%;
}

.products-card-image {
  height: 310px;
  width: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 12px;
  padding: 10px;
}

.product-card-price {
  color: black;
  display: flex;
}

.product-card-price span {
  text-decoration: line-through;
  color: #000000;
  font-weight: 400;
  font-size: 14px;
}

.product-card-price p {
  color: #1570c3;
  font-weight: 600;
}

.product-card-title {
  font-size: 14px;
  font-weight: 400;
  color: #000000;
  margin-top: 10px;
}

.product-card-price {
  font-size: 14px;
  font-weight: 400;
  margin-top: 5px;
}

.kids {
  width: 92%;
  height: 720px;
  margin: 0 auto;
  display: flex;
  margin-bottom: 40px;
  flex-wrap: wrap;
}

.kids-description {
  height: 720px;
  width: 50%;
  align-items: center;
  padding: 18% 0;
}

.kids-heading {
  font-size: 55px;
}

.kids-subheading {
  font-size: 18px;
  margin-bottom: 50px;
}

.kids-card-button {
  background-color: #1570c3;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  width: 20%;
}
.kids-card-button:hover {
  background-color: #0f5a8c;
  text-decoration: underline;
}
.kids-image {
  width: 50%;
  height: 720px;
  background-position: center;
  background-size: cover;
  border-radius: 20px;
}

@media (max-width: 780px) and (min-width: 320px) {
  .logo {
    width: 300px;
  }

  .navbar-content {
    display: none;
  }

  .section-heading {
    width: 100%;
  }

  .main {
    background-position: -200px;
  }
  .main-heading {
    font-size: 52px;
  }
  .main-subheading {
    font-size: 15px;
  }

  .user-icon {
    display: none;
  }
  .hamburger-icon {
    display: block;
  }
  .search-icon {
    display: block;
  }
  .search-bar {
    display: none;
  }
  .main-card {
    display: none;
  }
  .main-card-bottom {
    display: block;
  }

  .products {
    padding: 10px;
  }

  .products-title {
    font-size: 24px;
  }
  .products-cards {
    padding: 2px;
  }
  .product-card {
    width: 49%;
    display: inline;

    margin-bottom: 10px;
  }
  .products-card-image {
    height: 210px;
  }

  .product-card-title {
    font-size: 16px;
    font-weight: 500;
  }

  .product-card-price {
    font-size: 16px;
  }

  .kids {
    flex-direction: column;
    height: auto;
  }

  .kids-description {
    width: 100%;
    height: auto;
    padding: 5% 0;
  }

  .kids-heading {
    font-size: 50px;
  }

  .kids-subheading {
    font-size: 18px;
    margin-bottom: 20px;
  }

  .kids-card-button {
    width: auto;
    padding: 10px 30px;
  }

  .kids-image {
    width: 99%;
    height: 230px;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
  }
}
